li.area	   { list-style-type: none; }
li.project { list-style-type: none; }
li.action  { list-style-type: none; }

li.area a {
	color: red;
}
li.project a {
	color: blue;
}
li.action a {
	color: green;
}

li a a.add {
	visibility: hidden;
	border: none;
}

li:hover a a.add {
	visibility: visible;
}

div.ck-details {
	animation-name: fade-in;
	animation-duration: 0.5s;
	background: #f2f2f2;
}

div.ck-details.closed {
	animation-name: fade-out;
	animation-duration: 0.5s;
	overflow: hidden;
	max-height: 0;
}

div.ck-details.ck-highlight div.panel {
	animation-name: flash;
	animation-duration: 1.0s;
	background: yellow;
}

@keyframes flash {
	0% { background: yellow; }
	24% { background: #f2f2f2; }
	25% { background: yellow; }
	50% { background: #f2f2f2; }
	100% { background: #f2f2f2; }
}

@keyframes fade-in {
	0% { opacity: 0.0; margin-top: -10px}
	100% { opacity: 1.0; margin-top: 0px}
}

@keyframes fade-out {
	0% { opacity: 1; max-height: 200px; }
	50% { opacity: 0; max-height: 200px; }
	100% { opacity: 0; max-height: 0; }
}
