li.area	   { list-style-type: none; }
li.project { list-style-type: none; }
li.action  { list-style-type: none; }

li.area a {
	color: red;
}
li.project a {
	color: blue;
}
li.action a {
	color: green;
}

li a a.add {
	visibility: hidden;
	border: none;
}

li:hover a a.add {
	visibility: visible;
}
