div.ck-tree li { list-style-type: none; }
div.ck-details li { list-style-type: none; }
li.add  { list-style-type: none; }
li.add a { margin-right: 1em; }

div.ck-details li.add form {
	display: inline;
}

div.ck-details li.add input {
	margin: 2px;
}

a.ck-title {
	color: black;
}

.ck-title.ck-area {
	font-weight: bold;
	font-variant: small-caps;
	text-decoration: underline;
	color: #222;
}
.ck-title.ck-project {
	font-weight: medium;
	text-decoration: underline;
}
.ck-title.ck-action {
	font-style: italic;
	color: #444;
}


.ck-node {
	padding-left: 0.4rem;
	margin-bottom: 4px;
	white-space: nowrap;
	overflow: hidden;
}

span.ck-toggles {
	margin-bottom: 0px;
	margin-right: 2px;
}

span.ck-toggles a {
	border: 1px solid black;
	margin-right: 2px;
	padding-left: 2px;
	padding-right: 2px;
}

span.ck-toggles a.ck-inactive:hover {
	background: #FE8;
	color: black;
}

span.ck-toggles a.ck-inactive {
	border-color: #DB4;
	color: #CCC;
}

span.ck-toggles a.ck-active-a {
	border-color: #55C;
	color: #55C;
	background-color: #CFA;
}
span.ck-toggles a.ck-active-sm {
	border-color: #48B;
	color: #48B;
	background-color: #BDF;
}
span.ck-toggles a.ck-active-f {
	border-color: #48B;
	color: #48B;
	background-color: #BDF;
}
span.ck-toggles a.ck-active-n {
	border-color: #55C;
	color: #55C;
	background-color: #CFA;
}
span.ck-toggles a.ck-active-w {
	border-color: #B84;
	color: #B84;
	background-color: #FDB;
}
span.ck-toggles a.ck-active-x {
	border-color: black;
	color: black;
	background-color: white;
}

li.new {
	animation-name: fade-in;
	animation-duration: 1.0s;
}

li a a.add {
	visibility: hidden;
	border: none;
}

li:hover a a.add {
	visibility: visible;
}

div.ck-details {
	position: relative;
	animation-name: fade-in;
	animation-duration: 0.5s;
	padding: 0.5rem;
	border: 1px solid #d8d8d8;
	margin-bottom: 4px;
}

div.ck-details.closed {
	animation-name: fade-out;
	animation-duration: 0.5s;
	overflow: hidden;
	max-height: 0;
}

div.ck-details.ck-highlight h4 {
	animation-name: flash;
	animation-duration: 1.0s;
	color: yellow;
}

div.ck-details a.close {
	font-size: 1.375rem;
	padding: 0 6px 4px;
	line-height: .9;
	position: absolute;
	right: 0.25rem;
	color: #333333;
	opacity: 0.3;
	display: inline-block;
}

div.ck-details div.panel a.close:hover {
	opacity: 0.5;
}

div.ck-details h4 {
	font-size: 1rem;
}

div.ck-details div.description {
	border: 1px solid #DDDDDD;
	padding: 0.625rem 0.75rem;
	background: #ffc;
}

div.tabs-content div.content {
	padding-top: 0;
}

div.ck-details ul {
	margin-bottom: 0;
}

@keyframes flash {
	0% { color: yellow; }
	24% { color: black; }
	25% { color: yellow; }
	50% { color: black; }
	100% { color: black; }
}

@keyframes fade-in {
	0% { opacity: 0.0; margin-top: -10px}
	100% { opacity: 1.0; margin-top: 0px}
}

@keyframes fade-out {
	0% { opacity: 1; max-height: 200px; }
	50% { opacity: 0; max-height: 200px; }
	100% { opacity: 0; max-height: 0; }
}
