li.ck-area	   { list-style-type: none; }
li.ck-project { list-style-type: none; }
li.ck-action  { list-style-type: none; }
li.add  { list-style-type: none; }
li.add a { margin-right: 1em; }

div.ck-details li.add form {
	display: inline;
}

div.ck-details li.add input {
	margin: 2px;
}

li.ck-area a { font-weight: bold; color: black; }
div.ck-area h4 { font-weight: bold; }

li.ck-project a { font-weight: normal; color: black; }
div.ck-project h4 { font-weight: normal; }

li.ck-action a { font-weight: normal; font-style: italic; color: black; }
div.ck-action h4 { font-weight: normal; font-style: italic; }

.ck-area {
	background: #FFF9E6;
	padding-left: 0.4rem;
	border-left-width: 0.3rem;
	border-left-style: solid;
	border-color: #FFE280;
	border-left-color: #FFC400;
	margin-bottom: 4px;
}
.ck-project {
	background: #E6F9FF;
	padding-left: 0.4rem;
	border-left-width: 0.3rem;
	border-left-style: solid;
	border-color: #B3EDFF;
	border-left-color: #3ED2FF;
	margin-bottom: 4px;
}

.ck-action {
	background: #FFF2F6;
	padding-left: 0.4rem;
	border-left-width: 0.3rem;
	border-left-style: solid;
	border-color: #FFCCDC;
	border-left-color: #FF759F;
	margin-bottom: 4px;
}

li.new {
	animation-name: fade-in;
	animation-duration: 1.0s;
}

li a a.add {
	visibility: hidden;
	border: none;
}

li:hover a a.add {
	visibility: visible;
}

div.ck-details {
	position: relative;
	animation-name: fade-in;
	animation-duration: 0.5s;
	padding: 0.5rem;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-style: solid;
}

div.ck-details div.panel {
	padding: 0.5rem;
}

div.ck-details.closed {
	animation-name: fade-out;
	animation-duration: 0.5s;
	overflow: hidden;
	max-height: 0;
}

div.ck-details.ck-highlight h4 {
	animation-name: flash;
	animation-duration: 1.0s;
	color: yellow;
}

div.ck-details a.close {
	font-size: 1.375rem;
	padding: 0 6px 4px;
	line-height: .9;
	position: absolute;
	right: 0.25rem;
	color: #333333;
	opacity: 0.3;
	display: inline-block;
}

div.ck-details div.panel a.close:hover {
	opacity: 0.5;
}

div.ck-details h4 {
	font-size: 1rem;
}

div.ck-details div.description {
	padding: 0.625rem 0.75rem;
	background: rgba(255, 255, 255, 0.8);
}

div.tabs-content div.content {
	padding-top: 0;
}

div.ck-details ul {
	margin-bottom: 0;
}

@keyframes flash {
	0% { color: yellow; }
	24% { color: black; }
	25% { color: yellow; }
	50% { color: black; }
	100% { color: black; }
}

@keyframes fade-in {
	0% { opacity: 0.0; margin-top: -10px}
	100% { opacity: 1.0; margin-top: 0px}
}

@keyframes fade-out {
	0% { opacity: 1; max-height: 200px; }
	50% { opacity: 0; max-height: 200px; }
	100% { opacity: 0; max-height: 0; }
}
